

@media (min-width: 577px) {
    .cardL {
      width: 38%;
      display: inline-block;
      margin-left: 9%;
      margin-right: 3%;
    }

    .cardR {
      width: 38%;
      display: inline-block;
      margin-left: 3%;
      margin-right: 9%;
    }
  }

  @media (max-width: 576px) {
    .cardL {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .cardR {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }



.card {
  border-radius: 2%;
}