

@media (min-width: 577px) {
    .cardL {
      width: 38%;
      display: inline-block;
      margin-left: 9%;
      margin-right: 3%;
    }

    .cardR {
      width: 38%;
      display: inline-block;
      margin-left: 3%;
      margin-right: 9%;
    }
  }

  @media (max-width: 576px) {
    .cardL {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .cardR {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }



.card {
  border-radius: 3%;
  border-color: #2C2F36;
  background-color: #e3e0d8;
  
}

.card h4 {
  color: black;
}

.custom-tab {
  color:#586069 !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 5px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #2C2F36;
  padding: 12px !important;
  font-family: "system-ui";
  /* display: flex !important; */
  align-items: center;
  justify-content: center;
}
.custom-tab--selected {
  color: black !important;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  /* border-top: 5px solid #0D6EFD !important; */
    /* box-shadow: 1px 1px 0px white; */

}

/* .tab-pane {
  background-color: #2C2F36;
} */